body {
font-family: 'Noto Sans TC', sans-serif;
color:#968686;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:#3e3440;
}

.subheading {
	text-transform:none;
	font-family: 'Noto Sans TC', sans-serif;
}

.about-section {
  padding-top: 2rem;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.education-section {
  padding: 10rem 0;
}

.education-section .featured-text {
  padding: 2rem;
}

.education-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

.skills-section {
  padding-top: 5rem;
  padding-bottom:5rem;
}

.skills-section .featured-text {
  padding: 2rem;
}

.skills-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

.img-fluid{
	 border-radius: 50%
}

ul {
    list-style-type:none;
}

.prlearning-section {
	padding:5rem;
}

.interests-section{
	padding-top:10rem;
	padding-bottom:15rem;
}

.shuoming{
	font-size:20px;
}

th,td{
	text-align:center;
}

.flex-container{
	display: flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
}
div#work{
	width:350px;
	color:black;
}

.works-section{
	padding-top:0.5rem;
	padding-bottom:2rem;
}