.about-section {
  padding-top: 13rem;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.education-section {
  padding: 10rem 0;
}

.education-section .featured-text {
  padding: 2rem;
}

.education-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

.skills-section {
  padding: 15rem 0;
}

.skills-section .featured-text {
  padding: 2rem;
}

.skills-section .project-text {
  padding: 3rem;
  font-size: 90%;
}